%p=text_field :subscription_on, :label => 'Subscription date: '
- if session.user.admin?
  %p=select :function_id, :collection => Function.all, :text_method => :name, :value_method => :id, :label => 'Function: '
- else
  %p 
    Function: 
    = @member.function.name
